{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block title %}
PawSitter - Change Password
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="card">
                <h2>Change Password</h2>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div style="width: 100%;">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/booking_process.js' %}"></script>
{% endblock %}